  <title>Learn X</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- CSS -->
<<<<<<< HEAD
=======
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
>>>>>>> 20ba505b4a5d893eb80be2e6b0e7ffd2c082f779
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  </style>

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>  
<<<<<<< HEAD
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
=======
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function(){
        $('#table_id').DataTable({
          ajax: {
            url: 'http://jsonplaceholder.typicode.com/posts',
            dataSrc: ''
          },
            columns: [
                    { data: 'userId' },
                    { data: 'id' },
                    { data: 'title' },
                    { data: 'body' }
                ]
        });
    });
  </script>
>>>>>>> 20ba505b4a5d893eb80be2e6b0e7ffd2c082f779
