<!DOCTYPE html>
<html lang="en">
<head>
<% include ../partials/head %>

</head>
<body>

<% include ../partials/header %>
  
<div class="container text-center">    
  <h3><%= datatables %></h3><br>
 <table id="table_id" class="display">
    <thead>
        <tr>
            <th>id</th>
            <th>user id</th>
            <th>Title</th>
            <th>Body</th>
        </tr>
    </thead>
</table>
</div><br>

<footer class="container-fluid text-center">
  <% include ../partials/footer %>

</footer>

</body>
</html>
  