<!DOCTYPE html>
<html lang="en">
<head>
<% include ../partials/head %>

</head>
<body>

<% include ../partials/header %>
  
<div class="container text-center">    
  <h3><%= ejs %></h3><br>
 
</div><br>

<footer class="container-fluid text-center">
  <% include ../partials/footer %>

</footer>

</body>
</html>
  